package ${package}.controller;

import java.util.List;
import java.util.Map;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestBody;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;



/**
 * ${comments}
 *
 * @author ${author}
 *
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${className}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @RequestMapping("/list")
##    @RequiresPermissions("${moduleName}:${className}:list")
    public PageInfo<${className}> list(@RequestParam(defaultValue = "") String name, @RequestParam(defaultValue = "1")Integer curPage, @RequestParam(defaultValue = "2")Integer pageSize){
        //查询列表数据
        PageInfo<${className}> page =  ${className}Service.listByName(name,curPage,pageSize);
        return page;
    }


    /**
     * 信息
     */
    @RequestMapping("/info/{${pk.attrname}}")
##    @RequiresPermissions("${moduleName}:${className}:info")
    public ResultInfo getEntityById(String id){
        ${className}Entity ${classname} = ${classname}Service.queryEntityById(id);
        return ResultInfo.ok().put("${classname}", ${classname});
    }

    /**
     * 保存
     */
    @RequestMapping("/save")
##    @RequiresPermissions("${moduleName}:${className}:save")
    public ResultInfo save(${className}Entity ${classname}){
        ${classname}Service.add(${classname});
        return ResultInfo.ok();
    }

    /**
     * 修改
     */
    @RequestMapping("/update")
##    @RequiresPermissions("${moduleName}:${className}:update")
    public ResultInfo update(${className}Entity ${classname}){
        ${classname}Service.update(${classname});
        return ResultInfo.ok();
    }

    /**
     * 删除
     */
    @RequestMapping("/delete")
##    @RequiresPermissions("${moduleName}:${className}:delete")
    public ResultInfo delete(String id){
        ${classname}Service.del(id);
        return ResultInfo.ok();
    }

}